*{
    box-sizing: border-box;
    /* border: 1px solid #000; */
    position: relative;
    font-family: Cambria;
}

a{
    text-decoration: none;
    color: #000;
}

/* 滿版設定 */
html, body{
    min-height: 100%;
}

h1, h2, p {
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* background wrapper */
.wrapper{
    min-height: 100%;
    background-color: #ccc;
    background: linear-gradient(#7ba6de, #ffffff);
    overflow: hidden;
}

/* layout */
.container{
    width: 960px;
    min-height: 100%;
    display: block;
    /* 上下0 左右auto */
    margin: 0 auto;
    /* border: 1px solid #000; */
}

/* utility */
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

/* component */
/* navbar */
.navbar{
    height: 64px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    padding: 0 16px;
    z-index: 999;
}

.navbar .logo{
    display: inline-block;
    width: 40px;
    height: 40px;
    /* border: 1px solid #000; */
    background-image: url('../images/LE_SSERAFIM_logo.svg.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 12px;

    float: left;
}

.navbar .nav{
    /* border: 1px solid #000; */
    float: right;
}
.navbar p{
    float: left;
}

.navbar .nav .nav-item{
    float: left;
    margin-left: 32px;
}

.navbar .nav .nav-link{
    display: inline-block;
    color: #000000;
    line-height: 24px;
    padding: 20px 0;
    /* border: 1px solid #000; */
}

.navbar .nav .nav-link:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: #7ba6de;
    transition: all 0.3s;
}

.navbar .nav .nav-link:hover:after{
    width: 100%;
}

/* card setting */
.idle{
    width: 800px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.5);

    /* middle setting 
        1. diplay block
        2. have width
        3. margin left right: auto
    */
    margin-left: auto;
    margin-right: auto;
    margin-top: 128px;

    padding: 10px;
    border-radius: 5px;

}

.idle .info{
    display: inline-block;;
    width: 50%;
    vertical-align: top;
    padding: 36px 28px;
    background-color: #f9f9ff;
    height: 100%;
}
.idle .image{
    display: inline-block;;
    width: 50%;
    height: 600px;
    overflow: hidden;
}

.idle .image img{
    /* height: 100%; */
    width: 400px;
    display: block;
    padding: 10px;
}

.idle .team{
    font-size: 40px;
    font-weight: 1000;
    color: #000000;    
}

.idle .name{
    font-size: 90px;
    font-weight: 500;
    color: #7ba6de;
    -webkit-text-stroke: 0.5px #ffb41f;
    /* border: 3px solid #ccc; */
    white-space: nowrap;
    margin-bottom: 16px;
    text-shadow: 0 48px 10px rgba(0, 0, 0, 0.1);

    /* position layer setting */
    position: relative;
    z-index: 10;
}
.idle .pos{
    font-size: 40px;
    font-weight: 500;
    color: #ff5c16;
    margin-bottom: 16px;
}
.idle .des{
    font-size: 20px;
    line-height: 24px;
    color: #fb814d;
    margin-bottom: 16px;
}

.idle .btn{
    display: inline-block;
    /* method 1 */
    padding: 12px 40px;
    line-height: 24px;
    /* method 2 */
    /* text-align: center;
    width: 200px; */
    text-decoration: none;
    letter-spacing: 3px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.3);

    background-color: #7ba6de;
    background: rgb(255,221,176);
    background: linear-gradient(223deg, rgb(176, 218, 255) 0%, rgb(8, 90, 255) 100%);
}

.footer{
    height: 180px;
    background-color: #ffffff;
    padding: 12px 24px;
    margin-top: 40px;
    border-top: solid 2px #6c6c6c;
}

.footer h2{
    display: block !important;
    font-size: 50px;
    /* float: left; */
}

.footer p{
    display: block;
    font-size: 30px;
}